* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

body {
    margin: 0;
    background-color: #d4dae0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: rgb(30, 30, 243);
    padding: 15px;
    border-radius: 32px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: white;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}

button:active {
    background-color: rgb(251, 161, 4);
    color: white;
}

button:focus {
    outline: none;
}
.col-3 {
    grid-column: span 3;
}
.col-2 {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #a29e9e;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
}

#valor-actual {
    font-size: 2em;
}

#valor-anterior {
    font-size: 1.5em;
}